<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title><%= data.page.title || "" %> | The Orange Community Garden</title>

    <%= stylesheet_link_tag "application" %>

    <%= javascript_include_tag  "modernizr.min" %>
    <!--[if (gte IE 6)&(lte IE 8)]>
    <%= javascript_include_tag  "selectivizr.min" %>
    <![endif]-->

    <script type="text/javascript" src="//use.typekit.net/mjh1jan.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body id="<%= data.page.primary %>">
    <header class="container">
      <div class="row">
        <div class="span5">
          <a href="/" class="brand">
            Orange Community Garden
          </a>
        </div>
        <div class="span2">
          <img src="/images/logo.png" alt="The Orange Community Garden">
        </div>
        <div class="span5">
          <nav class="pull-right">
            <a href="/gardener-info/"<%= active?('gardener-info') %>>Gardener Info</a>
            <a href="/photos/"<%= active?('photos') %>>Photos</a>
            <a href="/faqs/"<%= active?('faqs') %>>FAQs</a>
            <a href="#">Blog</a>
            <a href="/contact/"<%= active?('contact', 'last') %>>Contact</a>
          </nav>
        </div>
    </header>

<% if home? %>
    <div class="container heading content">
      <%= yield %>
    </div>
<% else %>
    <div class="container content">
      <div class="row">
        <div class="span12">
          <h1><%= data.page.title %></h1>
          <% if gardener_info? %>
          <%= render_partial('/gardener-info-subnav.html.erb') %>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>

    <div class="container footer">
      <p>&copy; 2012 The Orange Community Garden</p>
    </div>
<% end %>
    <%= javascript_include_tag  "application" %>
  </body>
</html>