<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title><%= data.page.title || "" %> | The Orange Community Garden</title>

    <%= stylesheet_link_tag "application" %>

    <%= javascript_include_tag  "modernizr.min" %>
    <!--[if (gte IE 6)&(lte IE 8)]>
    <%= javascript_include_tag  "selectivizr.min" %>
    <![endif]-->

    <script type="text/javascript" src="//use.typekit.net/mjh1jan.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body id="<%= data.page.id %>">
    <header class="container">
      <a href="/" class="brand">
        <img src="/images/logo.png" alt="The Orange Community Garden">
        <span>Orange Community Garden</span>
      </a>

      <nav>
        <a href="/committees/"<%= active?('committees') %>>Committees</a>
        <a href="/rules/"<%= active?('rules') %>>Rules</a>
        <a href="/photos/"<%= active?('photos') %>>Photos</a>
        <a href="#">Blog</a>
        <a href="/contact/"<%= active?('contact', 'last') %>>Contact</a>
      </nav>
    </header>

<% if home? %>
    <div class="container heading content">
      <%= yield %>
    </div>
<% else %>
    <div class="container heading content">
      <h1><%= data.page.title %></h1>
    </div>

    <div class="container content">
      <div class="row">
        <div class="span12">
          <%= yield %>
        </div>
      </div>
    </div>

    <div class="container footer">
      <p>&copy; 2012 The Orange Community Garden</p>
    </div>
<% end %>
    <%= javascript_include_tag  "application" %>
  </body>
</html>